.portfolio {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  font-family: 'Inter', Arial, sans-serif;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .portfolio {
    max-width: 668px;
    padding-top: 90px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio {
    max-width: 292px;
    padding-top: 70px;
  }
}

.portfolio__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 50px;
  color: rgba(160, 160, 160, 1);
}
@media screen and (max-width: 320px) {
  .portfolio__title {
    font-size: 14px;
    padding-bottom: 40px;
  }
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.portfolio__links a:hover {
  opacity: 70%;
}

.portfolio__link {
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__link:first-child {
  padding-top: 0;
}

.portfolio__link:last-child {
  border: none;
  margin: 0;
  padding-bottom: 112px;
}
@media screen and (max-width: 768px) {
  .portfolio__link:last-child {
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__link:last-child {
    padding-bottom: 70px;
  }
}

.portfolio__link-address {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .portfolio__link-address {
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__link-address {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__link-jump {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 768px) {
  .portfolio__link-jump {
    font-size: 28px;
    line-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__link-jump {
    font-size: 18px;
    line-height: 28px;
  }
}
