.search {
  max-width: 1140px;
  width: 100%;
	min-height: 222px;
  margin: 0 auto;
	padding-top: 70px;
	align-items: center;
}
.search__block {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  min-height: 72px;
  border-radius: 9px;
}
.search__icon {
  display: flex;
  align-items: center;
  max-width: 68px;
  width: 100%;
  background-color: #f9f9f9;
}
.search__icon-guard {
  margin: 0 auto;
}

.search__field {
  background-color: #f9f9f9;
  max-width: 913px;
  width: 100%;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  outline: none;
}
.search__btn {
  display: flex;
  align-items: center;
  width: 45px;
  height: 34px;
  border-radius: 50%;
  background-color: #ff6838;
  margin-right: 30px;
  border: none;
  cursor: pointer;
}
.search__btn:hover {
	opacity: 70%;
}
.search__arrow {
  display: flex;
  margin: 0 auto;
	
}
